
REST_api/Feria_Virtual_REST/Models/JsonManager.cs
REST_api/Feria_Virtual_REST/obj/Debug/Feria_Virtual_REST.csproj.CoreCompileInputs.cache
REST_api/Feria_Virtual_REST/Models/JsonManager.cs
REST_api/Feria_Virtual_REST/obj/Debug/Feria_Virtual_REST.csproj.CoreCompileInputs.cache
