<form (ngSubmit)="onAddCategory()" #newCategoryForm="ngForm">
  <div class="form-group">
    <label for="newCatName">Añadir una nueva categoria</label>
    <input
      type="text"
      class="form-control"
      placeholder="Verduras"
      name="newCategoryName"
      id="newCatName"
      ngModel
      required
    />
  </div>
  <div class="form-group">
    <button
      class="btn btn-success"
      type="submit"
      (click)="onAddCategory()"
      [disabled]="!newCategoryForm.valid">
      Añadir
    </button>
  </div>
</form>


