<form class="form-producer" (ngSubmit)="onSubmit()" #newProducerForm="ngForm">
  <h1>Solicitudes para Provedores</h1>
  <div class="from-group" ngModelGroup="fullName">
    <div class="row">
      <!--First Name-->
      <div class="col-md-6 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Nombre"
          ngModel
          name="newProducerName"
          required
        />
      </div>

      <!--Last Name-->
      <div class="col-md-6 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Apellido"
          ngModel
          name="newProducerLastName"
          required
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <!--ID-->
      <div class="col-md-6">
        <input
          type="text"
          class="form-control"
          placeholder="Cédula"
          ngModel
          name="newProducerID"
          required
        />
      </div>

      <!--Birthday-->
      <div class="col-md-6">
        <input
          class="form-control birthdate"
          type="date"
          placeholder="YYYY-MM-DD"
          data-date-split-input="true"
          ngModel
          name="newProducerBirthday"
          required
        />
      </div>
    </div>
  </div>

  <!--Location-->
  <div class="form-group" ngModelGroup="location">
    <div class="row">
      <!--Province-->
      <div class="col-md">
        <input
          type="text"
          class="form-control"
          placeholder="Provincia"
          ngModel
          name="newProducerProvince"
          required
        />
      </div>

      <!--Canton-->
      <div class="col-md">
        <input
          type="text"
          class="form-control"
          placeholder="Cantón"
          ngModel
          name="newProducerCanton"
          required
        />
      </div>

      <!--District-->
      <div class="col-md">
        <input
          type="text"
          class="form-control"
          placeholder="Distrito"
          ngModel
          name="newProducerDistrict"
          required
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <!--Phone-->
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Teléfono"
          ngModel
          name="newProducerPhone"
          required
        />
      </div>

      <!--SINPE-->
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="SINPE"
          ngModel
          name="newProducerSINPE"
          required
        />
      </div>
    </div>
  </div>

  <!--Delivery location-->
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Lugares de entrega"
      ngModel
      name="newProducerDeliveryLocation"
      required
    />
  </div>
  <!--Email-->
  <div class="form-group">
    <input
      type="email"
      class="form-control"
      placeholder="Correo"
      ngModel
      name="newProducerEmail"
      required
    />
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <!--Username-->
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input
            type="text"
            class="form-control"
            id="inlineFormInputGroup"
            placeholder="Usuario"
            ngModel
            name="newProducerUsername"
            required
          />
        </div>
      </div>

      <!--Password-->
      <div class="col">
        <input
          type="password"
          class="form-control"
          placeholder="contraseña"
          ngModel
          name="newProducerPassword"
          required
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="!newProducerForm.valid"
      >
        Enviar solicitud
      </button>
    </div>
  </div>
</form>
