<form class="form-producer">
  <h1>Solicitudes para Provedores</h1>
  <div class="from-group">
    <div class="row">
      <div class="col-md-6 mb-3">
        <input type="text" class="form-control" placeholder="Nombre" />
      </div>
      <div class="col-md-6 mb-3">
        <input type="text" class="form-control" placeholder="Apellido" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Cédula" />
      </div>
      <div class="col-md-6">
        <input
          class="form-control birthdate"
          type="date"
          placeholder="YYYY-MM-DD"
          data-date-split-input="true"
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md">
        <input type="text" class="form-control" placeholder="Provincia" />
      </div>
      <div class="col-md">
        <input type="text" class="form-control" placeholder="Cantón" />
      </div>
      <div class="col-md">
        <input type="text" class="form-control" placeholder="Distrito" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Teléfono" />
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="SINPE" />
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Lugares de entrega" />
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input
            type="text"
            class="form-control"
            id="inlineFormInputGroup"
            placeholder="Username"
          />
        </div>
      </div>
      <div class="col">
        <input type="password" class="form-control" placeholder="contraseña" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <button class="btn btn-success">Enviar solicitud</button>
    </div>
  </div>
</form>
