<div class="row" style="margin: 10px">
  <div class="col">
    <h3>Añadir nuevo producto</h3>
    <app-add-product></app-add-product>
  </div>
  <div class="col">
    <h3>Lista de productos</h3>
    <zippy title="Products"
      ><ul class="list-group" *ngFor="let product of products">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          {{ product.pName }}
          <span class="badge badge-primary badge-pill">{{
            product.availability
          }}</span>
        </li>
      </ul></zippy
    >
  </div>
  <div class="col">
    <h3>Seleccina un producto para cambiar</h3>
    <app-edit-product></app-edit-product>
  </div>
</div>

<div class="row">
  <div class="col">
    <zippy title="Orders"><h1>List of orders</h1></zippy>
  </div>
</div>
