<div class="row" style="margin: 10px;">
  <div class="col">
    <h3>Añadir nuevo producto</h3>
    <app-add-product></app-add-product>
  </div>
  <div class="col">
    <h3>Lista de productos</h3>
    <zippy title="Products"><h1>List of products</h1></zippy>
  </div>
  <div class="col">
    <h3>Seleccina un producto para cambiar</h3>
    <app-edit-product></app-edit-product>
  </div>
</div>

<div class="row">
  <div class="col">
    <zippy title="Orders"><h1>List of orders</h1></zippy>
  </div>
</div>
