<div class="selector-buttons">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="onSelectView('login')">
        <i class="fas fa-user-tie"> Iniciar sesion</i>
      </button>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="onSelectView('form')">
        <i class="fab fa-wpforms"> Registrarse</i>
      </button>
    </div>
  </div>
</div>

<client-log-in *ngIf="currentActivate === 'login'"></client-log-in>
<client-form *ngIf="currentActivate === 'form'"></client-form>
<c-view></c-view>
